<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Hello</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="static/main.js" type=text/javascript></script>
	</head>
	<body>
		<h1>HelpDesk</h1>

		<p>Type name of user you would like to authenticate: </p>
		<form action="/preauth" method="POST">
			<input name="text">
			<input type="submit" id="submit">
		</form>
		<div class="table" style="display: none;">
			<table>
				<thead>
					<tr>
						<th>Device</th>
						<th>Methods</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody id="result">
				</tbody>
			</table>
		</div>
	</body>
</html>